{% extends 'base.html' %}

{% block content %}
    <h1>{{ head }}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file">
        <button type="submit">Upload</button>
    </form>
{% endblock %}
